<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add car</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
<h1>Ajouter une voiture:</h1>




<div th:if="${type == 'add'}">
<form th:action="@{/saveCar}"
      th:object="${car}" method="POST">
    Marque:
    <input type="text" th:field="*{brand}" />
    <br/>
    Modèle:
    <input type="text" th:field="*{carmodel}" />
    <br/>
    Prix:
    <input type="text" th:field="*{price}" />
    <br/>
    <input type="submit" value="Create" />
</form>
</div>

<div th:if="${type == 'modif'}">
    <form th:action="@{/saveUpdate}"
          th:object="${car}" method="POST">
        Marque:
        <input type="text" th:field="*{brand}" />
        <br/>
        Modèle:
        <input type="text" th:field="*{carmodel}" />
        <br/>
        Prix:
        <input type="text" th:field="*{price}" />
        <br/>
        <input type="submit" value="Update" />
    </form>
</div>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>