<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Inventaire des voitures</h1>
<a href="/carList/add">Add Car</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Prix</th>
            <th>Détail</th>
            <th>option</th>
        </tr>
        <tr th:each ="car : ${cars}">
            <td th:utext="${car.brand}">...</td>
            <td th:utext="${car.carmodel}">...</td>
            <td th:utext="${car.price}">...</td>
            <td><a th:href="@{'/carList/' + ${car.id}}">Détail</a></td>
            <td><a th:href="@{'/deleteCar/' + ${car.id}}">Supprimer</a></td>
        </tr>
    </table>
</div>
</body>
</html>